[submodule "wp-content/mu-plugins/public-submodule"]
	path = wp-content/mu-plugins/public-submodule
	url = https://github.com/Automattic/githubdeployments-public-mu-plugin-example.git
[submodule "wp-content/mu-plugins/private-submodule"]
	path = wp-content/mu-plugins/private-submodule
	url = https://github.com/Automattic/githubdeployments-private-mu-plugin-example.git
